.hero__container {
  height: 100vh;
  background: url("../../assets/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hero__icons {
  display: flex;
  justify-content: space-between;
}

.hero__icon__item {
  font-size: 2rem;
}

.text {
  color: #fff;
  text-align: center;
  margin-top: 6rem;
}

.text div > h1 {
  font-size: 3em;
}

.text div > p {
  font-size: 1.6em;
}

.hero__item {
  background-color: black;
  opacity: 0.6;
  text-align: center;
  padding: 8px 16px;
}

.hero__input {
  margin: 5rem 0;
  padding: 0.9rem 0;
  width: 90%;
  outline: none;
  border-radius: 10px;
  border: none;
  font-size: 1em;
}

.hero__icon__paragraph {
  font-size: 1px;
}
